.modal{
    width:90%;
    background: white;
    box-shadow:0 2px 8px rgba(0,0,0,0.3);
    position:fixed;
    left:0px;
    top:20vh;
}

@media(min-width:768px){
    .modal{
        width:30rem;
        left:calc((100%-30rem) / 2)
    }
}

.modal__header{
    padding:1rem;
    background:#0ccfb5;
    color:white;
}

.modal__header h1{
    margin:0;
    font-size:1.25rem;

}

.modal__content{
   padding:15px;
}

.modal__actions{
    display:flex;
    justify-content: flex;
    padding:1rem;
}

@media(min-width:768px){
    .modal{
        width:30rem;
        left:calc((100%-30rem) / 2);
    }
}